*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Georgia", "Times New Roman", serif;
}
/* Conteneur principal de la navbar */
.navbar {
    position: fixed;    /* Fixer le menu quand on scroll sur la page  */
    top: 0;             
    left: 0;            
    width: 100%;       
    z-index: 1000;      /* S'assure que le menu passe au-dessus de tout le reste du contenu */

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a0614; 
    padding: 15px 50px;
    height: 80px;
    border-bottom: 1px solid #E08F3E; 
}

/* Alignement du logo et du texte */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cercle-logo{
    height: 35px;
    width: 35px;
    object-fit: contain; /*redimensionner l'image pour qu'elletienne dans son conteneur*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    border-radius: 50%;
    background-color: #E08F3E;
}



/* Style du bloc de texte à gauche */
.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text .title {
    color: #E08F3E;  
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.logo-text .subtitle {
    color: #FFF8F0;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 2px;
}

/* Style des liens de navigation */
.nav_links {
    display: flex;
    gap: 30px;
}

.nav-item {
    color: #FFF8F0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 6px;
    transition: color 0.3s ease;
}

/* Effet survol et onglet actif */
.nav-item:hover, .nav-item.active {
    color: #E08F3E;
}

.nav-item.active {
    border-bottom: 2px solid #E08F3E;
}
.head{
    margin: auto;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.head::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(to bottom,
            rgba(58, 6, 20, 0) 40%,
            #3a0614 100%
        ),
        linear-gradient(to right,
            rgba(58, 6, 20, 0.5),
            rgba(58, 6, 20, 0.5)
        ), url(librairie.jpg);
    background-size: cover;
    background-position: center;
    filter:blur(2px);
    transform: scale(1.1);
    z-index: -1;
}
.head::after{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(58, 6, 20, 0.6);
    z-index: -1;
}
.head h1{
    padding: 10px 10px;
    color: #fdf2f4;
    text-align: center;
    font-size: 3.2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: Georgia ;
    margin-bottom: 20px;
}
.head p{
    margin-top: 160px;
    color: #E08F3E;
    text-align: center;
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    letter-spacing: 1.6px;
    font-family: "Times New Roman";
    font-weight: 700;
}
#hr1{
    width: 10%;
    margin:auto;
    border: 1px solid #E08F3E;
}
.section1{
    background-color: rgba(58, 6, 20, 1);
    padding: 50px 20px;
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
}
.text{
    width: 40%;
    height: 60vh;
    color :#fce7eb;
    margin-left: 60px;
}
p{
    margin: 30px;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-family: "Times New Roman";
}
h2{
    text-align: left;
    margin-top: 20px;
    color: #E08F3E; 
    margin-left: 30px;
    font-size: 1.8rem;
    font-family: Georgia;
}
#image1{
    border: 2px solid #E08F3E;
    width: 90%;
    height: 60vh;
    margin-right: 60px;
    margin-left: 20px;
}
 .section2{
    background-color: rgba(78, 9, 27, 1);
    margin-top: 0;
    margin-bottom: 0;
    display: flow-root;
    min-height: 120vh;
}
.timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 0;
    margin-left: 300px;
}
input[type="radio"]{
    margin-bottom: 60px;
    background-color:#3a0614;
    appearance: none;
    border: 2px solid #E08F3E;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}
input[type="radio"]:hover{
    background-color: #E08F3E;
    cursor: pointer;
}
label.item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
h3{
    color: #E08F3E;
    margin-left: 30px;
    margin-top: 10px;
    font-family: Georgia;
}
.story{
    color: #fce7eb;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1rem;
    font-family: 'Times New Roman';
}
.date{
    margin: auto;
    padding: 10px 10px;
    color: #fdf2f4;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: 'Times New Roman';
}
.section3{
    background-color: #3a0614;
    height: 80vh;
}
.team{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.text2{
    border: 2px solid #3a0614 ;
    text-align: center;
    color: #fdf2f4;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 60px;
    font-family: 'Times New Roman';

}
.first2{
    margin: auto;
    padding: 10px 10px;
    color: #a07820;
    text-align: center;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    font-family: 'Times New Roman';
}
.member-image{
    border: 2px solid #fdf2f4;
    width: 160px;
    height: 180px;
}
h4{
    margin: auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #fdf2f4;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: Georgia;
}
h5{
    margin: auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
    color: #fdf2f4;
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: Georgia;
}
.member{
    margin: auto;
    text-align: center;
}
.role{
    margin: auto;
    color: #a07820;
    text-align: center;
    white-space: nowrap;
    font-size: 1.2rem;
    font-family: 'Times New Roman';
    font-weight:700;
}
.duree{
    margin: auto;
    color: #dc2f56;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    font-family: 'Times New Roman';
}


/* ‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡ */

/*Espace vide*/
.vide{
    width: 100%;
    height: 50px;
    background-color: #3a0614 ;
}

/*Footer*/
.contenu{
    background-color: #3a0614;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #FFF8F0;
    /* border-bottom: 1px solid #FFF8F0; */
    padding: 20px ;
}

.left .titre{
    color: #E08F3E;
    margin-bottom: 10px;
}

.left .para{
    font-size: 13px;
    color: #FFF8F0;
    line-height: 1.5;
}



h6{
    color: #E08F3E;
    font-size: 12px;
    margin-bottom: 10px;
}

.center-left ul, .center-right ul {
    list-style: none;
}

.center-left li, .center-right li{
    font-size: 12px;
    line-height: 1.5;
    color: #FFF8F0;
}

.right li{
    font-size: 12px;
    line-height: 1.5;
    color: #FFF8F0;
}

.right ul{
    list-style: none;
    padding: 22px 0;
}

.copyright{
    text-align: center;
    padding: 10px;
    border-top: 1px solid #9E2A2B;
    background-color: #3a0614;
    font-size: 12px;
    color: #9E2A2B;
}



/*Scrollbar CSS*/

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #E08F3E;
    border-radius: 5px;  
}


/* ‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡ */
/* Partie reponsive */
@media (max-width:784px){
    .nav_links{
        display: none;
    }

    .menu_toggle{
        height: 35px;
        width: 35px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    
    .menu_toggle::before{
        content: "";
        position: absolute;
        height: 1px;
        width: 25px;
        background-color: #fff;
        transform: translateY(-8px);
        box-shadow: 0 8px #fff;
        transition: 0.2s;
    }

    .menu_toggle.active::before{
        transform: translate(0) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    .menu_toggle::after{
        content: "";
        position: absolute;
        height: 1px;
        width: 25px;
        background-color: #fff;
        transform: translateY(8px);
        transition: 0.2s;
    }

    .menu_toggle.active::after{
        transform: translate(0) rotate(-45deg);
        box-shadow: 0 0 #fff;
    }

    .nav_links.responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 0;
        padding: 10px; 
        top: 80px;
        width: 120px;
        background-color: #3a0614;
    }

    .head{
        background-color: red;
        height: 250px;
    }

    .head h1{
        font-size: 14px;
    }
    #hr1{
        display: none;
    }

    
    .section1{
        width: 100%;
        margin: 0 auto;
        background-color: blue;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1 .image{
        display: none;
    }

    .section1 .text{
        background-color: green;
        height: max-content;
        width: 100%;
        margin: 0;
    }

    .text h2{
        font-size: 18px;
        text-align: center;
    }
 
    .timeline{
        background-color: green;
        padding: 15px;
        margin: 0;  
    }

    .section3{
        height: max-content;
    }
    .team{
        display: flex;
        flex-direction: column;
    }

    .member{
        height: max-content;
        width: 75%;
        padding: 15px;
    }
  
}
