*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #3a0614;
}
/* Conteneur principal de la navbar */
.navbar {
    position: fixed;    /* Fixer le menu quand on scroll sur la page  */
    top: 0;             
    left: 0;            
    width: 100%;       
    z-index: 1000;      /* S'assure que le menu passe au-dessus de tout le reste du contenu */

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a0614; 
    padding: 15px 50px;
    height: 80px;
    border-bottom: 1px solid #E08F3E; 
}

/* Alignement du logo et du texte */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cercle-logo{
    height: 35px;
    width: 35px;
    object-fit: contain; /*redimensionner l'image pour qu'elletienne dans son conteneur*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    border-radius: 50%;
    background-color: #E08F3E;
}


/* Style du bloc de texte à gauche */
.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text .title {
    color: #E08F3E;  
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.logo-text .subtitle {
    color: #FFF8F0;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 2px;
}

/* Style des liens de navigation */
.nav_links {
    display: flex;
    gap: 30px;
}

.nav-item {
    color: #FFF8F0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 6px;
    transition: color 0.3s ease;
}

/* Effet survol et onglet actif */
.nav-item:hover, .nav-item.active {
    color: #E08F3E;
}

.nav-item.active {
    border-bottom: 2px solid #E08F3E;
}
.head{
    background-color: #3a0614;
    text-align: left;
    margin-top: 140px;
    margin-left: 100px;
}
#hri{
    width: 8%;
    border: 1px solid #E08F3E;
    margin-left: 0;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #fdf2f4;
    font-size: 3rem;
}
p{
    color: #E08F3E;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.container{
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    margin-right: 100px;
}
img{
    border: 1px solid #710720;
    width: 80%;
    height: 260px;
}
.image{
    width: 50%;
}
.saisie{
    width: 50%;
    padding: 10px;
    margin: 0;
}
label{
    color: #FFF8F0;
    font-size: 0.8rem;
}
#nom{
    border: 2px solid #710720;
    width: 100%;
    height: 36px;
    margin-bottom: 24px;
    background-color: #5c0a20;
    padding: 0 10px;
    color: #FFF8F0;
}
#sujet{
    border: 2px solid #710720;
    width: 100%;
    height: 40px;
    margin-bottom: 48px;
    background-color: #5c0a20;
    padding: 0 10px;
    color: #FFF8F0;
}
#message{
    border: 2px solid #710720;
    width: 100%;
    height: 144px;
    text-align: left;
    background-color: #5c0a20;
    padding: 0 10px;
    color: #FFF8F0;
}
button{
    background-color: #a07820;
    border: 2px solid #a07820;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: #FFF8F0;
    border: 2px solid #FFF8F0;
}

.information{
    width: 50%;
    margin-top: 36px;

}
.text{
    color: #E08F3E;
    font-size: 1.2rem;
}
.text1{
    color: #fdf2f4;
    font-size: 0.9rem;
    margin-bottom: 40px;
    margin-left: 30px;
}

.horaire{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}

h2{
  color: #E08F3E;
    font-size: 1rem;  
    margin-bottom: 24px;
}

.ouverture{
    margin-bottom:10px ;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid #5c0a20;
}

.heure{
    color: #E08F3E;
    font-weight: bold;
    font-size: 0.8rem;
}

.jour{
    color: #FFF8F0;
    font-size: 0.8rem;
}



/* ‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡ */

/*Espace vide*/
.vide{
    width: 100%;
    height: 50px;
    background-color: #3a0614 ;
}

/*Footer*/
.content{
    background-color: #3a0614;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #FFF8F0;
    padding: 20px ;
}



.left h5{
    color: #E08F3E;
    margin-bottom: 10px;
}

.left p{
    font-size: 13px;
    color: #FFF8F0;
    line-height: 1.5;
}

h6{
    color: #E08F3E;
    font-size: 12px;
    margin-bottom: 10px;
}

.center-left ul, .center-right ul {
    list-style: none;
}

.center-left li, .center-right li{
    font-size: 12px;
    line-height: 1.5;
    color: #FFF8F0;
}

.right li{
    font-size: 12px;
    line-height: 1.5;
    color: #FFF8F0;
}

.right ul{
    list-style: none;
    padding: 22px 0;
}

.copyright{
    text-align: center;
    padding: 10px;
    border-top: 1px solid #9E2A2B;
    background-color: #3a0614;
    font-size: 12px;
    color: #9E2A2B;
}


/*Scrollbar CSS*/

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #E08F3E;
    border-radius: 5px;  
}


/* ‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡ */
/* Partie reponsive */
@media (max-width:784px){
    .nav_links{
        display: none;
    }

    .menu_toggle{
        height: 35px;
        width: 35px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    
    .menu_toggle::before{
        content: "";
        position: absolute;
        height: 1px;
        width: 25px;
        background-color: #fff;
        transform: translateY(-8px);
        box-shadow: 0 8px #fff;
        transition: 0.2s;
    }

    .menu_toggle.active::before{
        transform: translate(0) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    .menu_toggle::after{
        content: "";
        position: absolute;
        height: 1px;
        width: 25px;
        background-color: #fff;
        transform: translateY(8px);
        transition: 0.2s;
    }

    .menu_toggle.active::after{
        transform: translate(0) rotate(-45deg);
        box-shadow: 0 0 #fff;
    }

    .nav_links.responsive{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 0;
        padding: 10px; 
        top: 80px;
        width: 120px;
        background-color: #3a0614;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .head{
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #hri{
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .image{
        display: none;
    }

    .information{
        width: 90%;
    }

    .saisie{
        width: 90%;
    }
    

}
