*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #3a0614;
}
/* Conteneur principal de la navbar */
.navbar {
    position: fixed;    /* Fixer le menu quand on scroll sur la page  */
    top: 0;             
    left: 0;            
    width: 100%;       
    z-index: 1000;      /* S'assure que le menu passe au-dessus de tout le reste du contenu */

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a0614; 
    padding: 15px 50px;
    height: 80px;
    border-bottom: 1px solid #E08F3E; 
}

/* Alignement du logo et du texte */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cercle-logo{
    height: 45px;
    width: 45px;
    object-fit: contain; /*redimensionner l'image pour qu'elletienne dans son conteneur*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #E08F3E;
}

.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Style du bloc de texte à gauche */
.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text .title {
    color: #E08F3E;  
    font-size: 1.25rem; /*1rem = 16px*/
    font-weight: bold;
    letter-spacing: 0.5px;
}

.logo-text .subtitle {
    color: #FFF8F0;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    margin-top: 2px;
}

/* Style des liens de navigation */
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-item {
    color: #FFF8F0;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 6px;
    transition: color 0.3s ease;
}

/* Effet survol et onglet actif */
.nav-item:hover, .nav-item.active {
    color: #E08F3E;
}

.nav-item.active {
    border-bottom: 2px solid #E08F3E;
}
.head{
    background-color: #3a0614;
    text-align: left;
    margin-top: 140px;
    margin-left: 100px;
}
#hri{
    width: 8%;
    border: 1px solid #E08F3E;
    margin-left: 0;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #fdf2f4;
    font-size: 3rem;
}
p{
    color: #E08F3E;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.container{
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    margin-right: 100px;
}
img{
    border: 1px solid #710720;
    width: 80%;
    height: 260px;
}
.image{
    width: 50%;
}
.saisie{
    width: 50%;
    padding: 10px;
    margin: 0;
}
label{
    color: #FFF8F0;
    font-size: 0.8rem;
}
#nom{
    border: 2px solid #710720;
    width: 100%;
    height: 36px;
    margin-bottom: 24px;
    background-color: #5c0a20;
}
#sujet{
    border: 2px solid #710720;
    width: 100%;
    height: 40px;
    margin-bottom: 48px;
    background-color: #5c0a20;
}
#message{
    border: 2px solid #710720;
    width: 100%;
    height: 144px;
    text-align: left;
    background-color: #5c0a20;
}
button{
    background-color: #a07820;
    border: 2px solid #a07820;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
}
.information{
    width: 50%;
    margin-top: 36px;

}
.text{
    color: #E08F3E;
    font-size: 1.2rem;
}
.text1{
    color: #fdf2f4;
    font-size: 0.9rem;
    margin-bottom: 40px;
    margin-left: 30px;
}
.horaire{
    margin-left: 100px;
    margin-top: 10px;
    width: 35%;
}
h2{
  color: #E08F3E;
    font-size: 1rem;  
    margin-bottom: 24px;
}
.text2{
    color: #fdf2f4;
    font-size: 0.9rem;
}
.heure{
    width: 100%;
    display: flex;
    white-space: nowrap;
}
#time{
    display: flex;
    height: 16px;
    justify-content: end;
    color: #710720;
    width: 100%;
    margin-top: 16px;
}
#hr1{
    width: 100%;
    border: 0.2px solid #5c0a20;
    margin-bottom: 0;
    margin-top: 0;
}